<html>
  <head>
    <title>Kocaeli Akademik</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" href="css/search.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="bar-left">
        <div class="menu">
          <a href="">Hakkında</a>
        </div>
      </div>
      <div class="bar-right">
        <div class="menu">
          <a href="/login">Yönetim Girişi</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="search-wrapper">
        <a href="" class="search-logo">
          <img src="/images/logo.jpg">
        </a>
        <form method="GET" action="results">
            <div class="search-bar">
                <div class="search-icon">
                  <i class="fa fa-search"></i>
                </div>
                <input type="text" name="search">
                <div class="search-icon right">
                  <i class="fa fa-microphone"></i>
                </div>
              </div>
              <div class="search-buttons">
                <input type="submit" value="Ara">
                <input type="submit" value="Kendimi Şanslı Hissediyorum">
              </div>
        </form>
        <p class="search-info">
          Arama yapmak için bir araştırmacı adı, yayın adı veya yayın yılı yazmayı deneyin.
        </p>
      </div>
    </div>
    <div class="bottom-bar">
      <div class="bar-left">
        <div class="menu">
          <a href="">Muhammet Ali Bakınç</a>
        </div>
      </div>
      <div class="bar-right">
        <div class="menu">
          <a href="">Kocaeli Üniversitesi © 2022</a>
        </div>
      </div>
    </div>
  </body>
</html>